@import '../Vars.scss';

.submitInput {
    width: 20%;
    height: 50px;
    color: black;
    background-color: #2EDCB4;
    border-radius: 13px;
    font-size: 120%;
    box-shadow: inset 0px 0px 12px 0px #25a88a;
    border: 2px solid $main-theme-color;
    transition: all 0.3s;
    cursor: pointer;
}

.submitInput:hover {
    background-color: rgba(0,0,0,0);
    color: white;
}

.submitInput:focus {
    outline: none;
}