@import '../Vars.scss';

.objectTokenDiv {
    width: 100%;
    margin-left: 25px;
    margin-top: 10px;
    position: relative;
}

.objectTokenDiv::before,
.objectTokenDiv::after {
    content: "";
    position: absolute;
    left: -12px;
}

.objectTokenDiv::before {
    border-top: 2px solid white;
    top: 9px;
    width: 8px;
    height: 0;
}

.objectTokenDiv::after {
    border-left: 2px solid white;
    height: 100%;
    width: 0px;
    top: 2px;
}

.objectTokenDiv:last-child::after {
    height: 8px;
}

.iconImage {
    margin-right: 1%;
}