@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap);

$background-color: #1F2847;
$main-theme-color: #2EDCB4;
$font-color: #FFFFFF;
$theme-font : 'Poppins', sans-serif;