@import '../Vars.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: $theme-font;
}

body {
    // background-color: $background-color;
    background: $background-color no-repeat fixed;
}

body > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.formDiv {
    width: 90%;
    margin-top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formDiv form {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.treeViewDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}