@import '../Vars.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: $theme-font;
}

body {
    // background-color: $background-color;
    background: $background-color no-repeat fixed;
}

body > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.formDiv {
    width: 90%;
    margin-top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formDiv form {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.textInput {
    width: 70%;
    height: 50px;
    margin-bottom: 20px;
    padding: 0px 20px;
    background-color: rgba(255,255,255,0.1);
    color: white;
    border: 2px solid white;
    border-radius: 25px;
    font-size: 16px;
    outline: none;
}

.submitInput {
    width: 20%;
    height: 50px;
    color: black;
    background-color: #2EDCB4;
    border-radius: 13px;
    font-size: 120%;
    box-shadow: inset 0px 0px 12px 0px #25a88a;
    border: 2px solid #2EDCB4;
    transition: all 0.3s;
    cursor: pointer;
}

.submitInput:hover {
    background-color: rgba(0,0,0,0);
    color: $main-theme-color;
}

.submitInput:focus {
    outline: none;
}

.treeViewDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}